/Output/Constraints/independent_constraints_4/
/Output/Constraints/independent_constraints_6/
/Output/Constraints/independent_constraints_8/
/Output/Constraints/independent_constraints_10/

R-constraintsjob*
**/__pycache__
